<!doctype html>
<!--[if lt IE 7]>
<html class='ie lte9 lte8 lte7 ie6'><![endif]-->
<!--[if IE 7 ]>
<html class="ie lte9 lte8 lte7 ie7"><![endif]-->
<!--[if IE 8 ]>
<html class="ie lte9 lte8 ie8" "><![endif]-->
<!--[if IE 9 ]>
<html class="ie lte9 ie9"><![endif]-->

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="360-site-verification" content="712bf0ccd9a344a36eb4910f823fe833"/>

    <title>APP开发公司，网站建设，手机APP软件开发，企业app开发-玖拾玖度</title>
    <meta name="keywords" content="APP开发，APP公司，APP制作，APP开发公司，手机APP开发，手机APP制作，app软件开发，app定制开发，企业app开发，广州APP开发公司"/>
    <meta name="description"
          content="【玖拾玖度】广州APP开发公司是一家专注于手机APP开发、微信公众平台、商城网站开发等综合型互联网企业，APP开发服务包括IOS开发、安卓开发；为顾客提供APP软件开发、微信开发、商城网站开发一站式解决方案服务，是国内综合高端型软件开发公司。"/>
    <meta name="author" content="玖拾玖度 | www.99lt.com"/>
    <meta name="baidu-site-verification" content="uaEEahePcH"/>
    <link rel="shortcut icon" href="../99du/images/favicon.ico"/>
    <link media="all" type="text/css" rel="stylesheet" href="../99soft/css/mainstyle.css">

    <link media="all" type="text/css" rel="stylesheet" href="../99soft/css/99soft.css">

    <link media="all" type="text/css" rel="stylesheet" href="../iconfont/iconfont.css">
</head>

<body>
<div class="body-wrap">
    <div class="header">
        <div class="head-top">
            <div class="head-top-wrap clearfix">
                <p style="float:left;font-size:12px;color:#888;">企业级软件开发服务商，专注于为企业提供高端型软件定制开发及解决方案服务</p>
                <div class="head-top-con">
                    <span class="online">广州热线<b>020-22922445</b></span>
                </div>
            </div>
        </div>
        <div class="head-wrap clearfix">
            <div class="head-logo">
                <a class="logo-link" href="../index.htm">
                    <img src="../99soft/images/icon/icon-logo.png"
                         title="玖拾玖度APP开发公司"
                         alt="玖拾玖度APP开发公司"/>
                </a>
            </div>
            <div class="header-mune-list-wrap">
                <ul class="header-mune-list clearfix" id="navid">
                    <li class="header-mune-item"><a
                            href="../index.htm" class="header-mune-link">首 页</a></li>
                    <li class="header-mune-item drop"><a
                            href="../serve/index.htm" class="header-mune-link">开发服务</a></li>
                    <li class="header-mune-item current"><a
                            href="../appcase/index.htm" class="header-mune-link">开发案例</a></li>
                    <li class="header-mune-item"><a
                            href="../fangan/index.htm" class="header-mune-link">解决方案</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="other-banner">
        <div class="banner-wrap">
            <img src="../99du/images/banner/case_banner.jpg"
                 alt="99开发案例">
        </div>
    </div>
    <!--main  -->

    <div class="display-case-main" id="main">
        <div class="display-case-wrap wrap">
            <div class="crumbs">
                <ul class="breadcrumbs list-unstyled list-inline">
                    <li><a href="../index.htm">开发</a> <span class="divider">></span></li>
                    <li><a href="../appcase/index.htm">开发案例</a> <span class="divider">></span></li>
                    <li class="active"><b class="breadcrumbs-text">客路旅行案例</b></li>
                </ul>
            </div>
            <div class="details-content clearfix">
                <div class="d-left" id="detailsleft">
                    <div class="leftping pinned">
                        <h1 class="title title-text">客路旅行案例</h1>
                        <div class="content">
                            <div class="type"><b>类型：</b><span class="type-text">旅游攻略APP、社交APP</span></div>
                            <div class="introduction" id="editor">
                                <p>案例描叙</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-img clearfix" id="detailsimg">
                    <img src="../99du/images/sample/main/01_main.png" alt="" class="big-img">
                </div>
            </div>
        </div>
    </div>

    <!--main -end-->
    <footer class="footer">
        <section class="footer-wrap">
            <div class="top">
                <ul class="clearfix">
                    <li>
                        <h3>解决方案</h3>
                        <p>商城网站</p>
                        <p>移动APP</p>
                        <p>微信公众号</p>
                        <p>小程序</p>
                    </li>
                    <li>
                        <h3>服务范围</h3>
                        <p>系统开发</p>
                        <p>APP开发</p>
                        <p>物联网</p>
                    </li>
                    <li>
                        <h3>联系我们</h3>
                        <p>咨询热线：020-22922445</p>
                        <p>咨询邮箱：3589829734@qq.com</p>
                        <p>商务QQ：3589829734</p>
                    </li>
                    <img src="../99du/images/qrcode.jpg" alt="">
                </ul>
            </div>
            <div class="bottom">
                <p>地址：广东省广州市越秀区富力新天地中心50层&nbsp;&nbsp;
                    <a href="http://www.miitbeian.gov.cn" target="_blank">备案号：粤ICP备18028015号</a>
                </p>
                <p>CopyRight©2008-2018 广州玖拾玖度信息科技有限公司 版权所有</p>
            </div>
        </section>
    </footer>
    <div class="tel-kf-share-top">
        <ul>
            <li class="item clearfix">
            <span class="item-wrap">
                <span class="icon"><img src="../99soft/images/icon/tel-icon.png"/></span>
                <span class="text">020-22922445</span>
            </span>
            </li>
            <li class="item  clearfix">
                <a rel="nofollow" href="javascript:;" class="item-wrap">
                    <span class="icon"><img src="../99soft/images/icon/qq-icon.png"/></span>
                    <span class="text">3589829734</span>
                </a>
            </li>
            <li class="item  clearfix">
                <a rel="nofollow" href="javascript:;" class="item-wrap">
                    <span class="icon"><img src="../99soft/images/icon/wechat-icon.png"/></span>
                    <span class="text qrCode">
                    <img src="../99du/images/qrcode.jpg" alt="">
                </span>
                </a>
            </li>
            <li class="top clearfix">
                <span></span>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../99du/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../combined/min/9b330d96a1d0a5818cfc1ffb61a6a19e.js"></script>
<script>
    (function () {
        getId();

        function getId() {
            var id = window.location.search.split('=')[1];
            var name = '';
            var type = '';
            switch (id) {
                case '01':
                    name = '客路旅行案例';
                    type = '旅游攻略APP、社交APP';
                    des = '亚太领先的旅行体验预订平台，提供安全可靠的预订及支付流程，预订后立即获得电子凭证，享受“无纸化便利”，无需排队，直接扫描二维码入场。';
                    break;
                case '02':
                    name = '约小主案例';
                    type = '娱乐直播APP、社交APP';
                    des = '一个全方位展示高颜值女神的高端约聊约见社交平台。';
                    break;
                case '03':
                    name = '越野风云案例';
                    type = '新闻资讯类APP';
                    des = '提供专业的越野车及SUV动态,新车资讯,越野车SUV评测,汽车改装咨询，中国越野车、SUV、越野、改装、旅行、赛事媒体中心；';
                    break;
                case '04':
                    name = '货运e家案例';
                    type = '物流行业APP';
                    des = '提供货主版和承运版货主版功能：发布货源，一键找车，找专线；承运版功能：在线发布车辆状态，行车路线，提供在线抢单，全程定位；';
                    break;
                case '05':
                    name = '现金易案例';
                    type = '金融行业APP、金融理财APP';
                    des = '是一款在线快速借款小额现金贷产品。随借随还，提前还款免收手续费。';
                    break;
                case '06':
                    name = '金明财经案例';
                    type = '金融行业APP、购物APP';
                    des = '专注现货交易的掌上投资APP产品 ，以“实战学投资”为理念，为用户提供实时行情走势、独家投资建议、行情资讯等服务。';
                    break;
                case '07':
                    name = '金艺包装案例';
                    type = '网站';
                    des = '是一款致力于提供用户更加快捷地联系包装商的网站。，用户通过申请会员不仅可以快速联系包装商，还能成为钻石分销商，发展下线。';
                    break;
                case '08':
                    name = '众恒车友 案例';
                    type = '汽车行业APP，社交APP';
                    des = '是龙城新一代汽车生活平台，旨在为广大用户提供集保养、维修、洗车于一体的汽车服务，如此同时，纵横车友广泛拓展服务范围，用户可以在App上轻松购物、预定自驾游服务。';
                    break;
                case '09':
                    name = '99乐透---在线教育平台 案例';
                    type = 'PC电脑端';
                    des = '股票网络直播平台，支持跨操作系统平台的视频直播，图像播放流畅，语音清晰稳定，适应股民日常交流学习的免费软件，满足股民朋友在线观看网络直播股市行情，新一代入市年轻股民更容易接受股票网络直播平台。';
                    break;
                case '10':
                    name = '财经直播----在线教育平台案例';
                    type = 'PC电脑端';
                    des = '专注于黄金投资公众视频直播服务平台,提供财经直播、行情策略、投资指导、投资课程培训、黄金交易开户、实时交易等一站式服务。';
                    break;
                case '11':
                    name = '擒牛宝典服务号案例';
                    type = '微信服务号自定义开发';
                    des = '开发定制的金融类公众号提供各类个股股票相关的资讯。';
                    break;
                case '12':
                    name = '波段黑马服务号案例';
                    type = '微信服务号自定义开发';
                    des = '开发定制的金融类公众号提供各类股票相关的资讯；';
                    break;
                case '13':
                    name = '大策略APP案例';
                    type = '金融教育APP';
                    des = '是专门为股民打造的平台，提供在线实时课程直播，课程回放。听课人数无上限、支持语音图文、红包赞赏、加密微课、收费微课、开课提醒。';
                    break;
                case '14':
                    name = '大策略公众号案例';
                    type = '微信公众号自定义开发';
                    des = '是一个金融股票教育类定制开发公众号，提供课程视频直播功能，图文语音直播，红包赞赏、加密微课、收费微课、开课提醒。';
                    break;
                case '15':
                    name = '大策略网站案例';
                    type = '网站建设';
                    des = '是专门为股民打造的平台，主打行业资讯，提供多种体系化课程教学，一对一实时指导、实盘操作训练等功能服务的平台。';
                    break;
                default:
            }
            $('.breadcrumbs-text').text(name);
            $('.title-text').text(name);
            $('.type-text').text(type);
            $('#editor p').text(des);
            $('.big-img').attr('src', '../99du/images/sample/main/' + id + '_main.png');
        }
    })()
</script>
</html>
