<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成功案例</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/case.css">
    <script src="../js/rem.js"></script>
</head>
<body>
<main class="case-container">
    <nav>
        <a href="../index.html">热门业务</a>
        <a href="" class="active">成功案例</a>
        <a href="advantage.html">团队优势</a>
    </nav>
    <header class="header">
        <h1>成功案例</h1>
        <h4>CASE</h4>
        <p>提供多个平台开发服务</p>
        <p>我们了解大中小型企业的生意模式以及需求</p>
        <p>我们倡导让客户感知产品的应用体验价值</p>
        <a href="tel:02022922445" class="btn">
                <span>
                    点击咨询
                </span>
        </a>
    </header>
    <!--案例列表-->
    <section class="case-list clearfix">
        <ul class="clearfix">
            <!--1-2-->
            <li>
                <img src="../images/case01.png" alt="" class="cover">
                <section class="des">
                    <h3>大策略公众号</h3>
                    <p>是一个金融股票教育类定制开发公众号，提供课程视频直播功能，图文语音直播，红包赞赏、加密微课、收费微课、开课提醒。</p>
                </section>
            </li>
            <li>
                <img src="../images/case02.png" alt="" class="cover">
                <section class="des">
                    <h3>大策略APP</h3>
                    <p>是专门为股民打造的平台，提供在线实时课程直播，课程回放。听课人数无上限、支持语音图文、红包赞赏、加密微课、收费微课、开课提醒。</p>
                </section>
            </li>
            <!--3-4-->
            <li>
                <img src="../images/case03.png" alt="" class="cover">
                <section class="des">
                    <h3>大策略网站</h3>
                    <p>是专门为股民打造的平台，主打行业资讯，提供多种体系化课程教学，一对一实时指导、实盘操作训练等功能服务的平台。</p>
                </section>
            </li>
            <li>
                <img src="../images/case04.png" alt="" class="cover">
                <section class="des">
                    <h3>99乐投-在线教育平台</h3>
                    <p>
                        股票网络直播平台，支持跨操作系统平台的视频直播，图像播放流畅，语音清晰稳定，适应股民日常交流学习的免费软件，满足股民朋友在线观看网络直播股市行情，新一代入市年轻股民更容易接受股票网络直播平台。</p>
                </section>
            </li>
            <div class="more-content clearfix">
                <!--5-6-->
                <li>
                    <img src="../images/case05.png" alt="" class="cover">
                    <section class="des">
                        <h3>财经直播-在线教育平台</h3>
                        <p>注于黄金投资公众视频直播服务平台,提供财经直播、行情策略、投资指导、投资课程培训、黄金交易开户、实时交易等一站式服务。</p>
                    </section>
                </li>
                <li>
                    <img src="../images/case06.png" alt="" class="cover">
                    <section class="des">
                        <h3>现金易APP</h3>
                        <p>是一款在线快速借款小额现金贷产品。随借随还，提前还款免收手续费。</p>
                    </section>
                </li>
                <!--7-8-->
                <li>
                    <img src="../images/case07.png" alt="" class="cover">
                    <section class="des">
                        <h3>金明财经</h3>
                        <p>专注现货交易的掌上投资APP产品 ，以“实战学投资”为理念，为用户提供实时行情走势、独家投资建议、行情资讯等服务。</p>
                    </section>
                </li>
                <li>
                    <img src="../images/case08.png" alt="" class="cover">
                    <section class="des">
                        <h3>擒牛宝典服务号</h3>
                        <p>开发定制的金融类公众号提供各类个股股票相关的资讯。</p>
                    </section>
                </li>
                <!--9-10-->
                <li>
                    <img src="../images/case09.png" alt="" class="cover">
                    <section class="des">
                        <h3>波段黑马服务号</h3>
                        <p>开发定制的金融类公众号提供各类股票相关的资讯。</p>
                    </section>
                </li>
                <li>
                    <img src="../images/case10.png" alt="" class="cover">
                    <section class="des">
                        <h3>客路旅行</h3>
                        <p>亚太领先的旅行体验预订平台，提供安全可靠的预订及支付流程，预订后立即获得电子凭证，享受“无纸化便利”，无需排队，直接扫描二维码入场。</p>
                    </section>
                </li>
                <!--11-12-->
                <li>
                    <img src="../images/case11.png" alt="" class="cover">
                    <section class="des">
                        <h3>约小主</h3>
                        <p>一个全方位展示高颜值女神的高端约聊约见社交平台。</p>
                    </section>
                </li>
                <li>
                    <img src="../images/case12.png" alt="" class="cover">
                    <section class="des">
                        <h3>越野风云</h3>
                        <p>提供专业的越野车及SUV动态,新车资讯,越野车SUV评测,汽车改装咨询，中国越野车、SUV、越野、改装、旅行、赛事媒体中心。</p>
                    </section>
                </li>
                <!--13-14-->
                <li>
                    <img src="../images/case13.png" alt="" class="cover">
                    <section class="des">
                        <h3>货运e家</h3>
                        <p>提供货主版和承运版货主版功能：发布货源，一键找车，找专线；承运版功能：在线发布车辆状态，行车路线，提供在线抢单，全程定位；</p>
                    </section>
                </li>
                <li>
                    <img src="../images/case14.png" alt="" class="cover">
                    <section class="des">
                        <h3>金艺包装</h3>
                        <p>是一款致力于提供用户更加快捷地联系包装商的网站。，用户通过申请会员不仅可以快速联系包装商，还能成为钻石分销商，发展下线。</p>
                    </section>
                </li>
                <!--15-16-->
                <li>
                    <img src="../images/case15.png" alt="" class="cover">
                    <section class="des">
                        <h3>纵横车友</h3>
                        <p>是龙城新一代汽车生活平台，旨在为广大用户提供集保养、维修、洗车于一体的汽车服务，如此同时，纵横车友广泛拓展服务范围，用户可以在App上轻松购物、预定自驾游服务。</p>
                    </section>
                </li>
            </div>

        </ul>
        <section class="more">
            <span>展开更多</span>
        </section>
    </section>
    <!--合作伙伴-->
    <section class="client-container">
        <div class="client-header">
            <h3>合作伙伴</h3>
            <h5>CLIENT</h5>
            <p>他们选择了玖拾玖度，你也可以！</p>
        </div>
        <section class="client-list">
            <ul class="clearfix">
                <li>
                    <img src="../images/img001.png" alt="">
                </li>
                <li>
                    <img src="../images/img002.png" alt="">
                </li>
                <li>
                    <img src="../images/img003.png" alt="">
                </li>
                <li>
                    <img src="../images/img004.png" alt="">
                </li>
                <li>
                    <img src="../images/img005.png" alt="">
                </li>
                <li>
                    <img src="../images/img006.png" alt="">
                </li>
                <li>
                    <img src="../images/img007.png" alt="">
                </li>
                <li>
                    <img src="../images/img008.png" alt="">
                </li>
                <li>
                    <img src="../images/img009.png" alt="">
                </li>
                <li>
                    <img src="../images/img010.png" alt="">
                </li>
                <li>
                    <img src="../images/img011.png" alt="">
                </li>
                <li>
                    <img src="../images/img012.png" alt="">
                </li>
            </ul>
        </section>
    </section>
    <!--涵盖范围-->
    <section class="cover-container">
        <div class="cover-header">
            <h1>涵盖范围</h1>
            <h5>RANGE</h5>
            <p>多年移动互联网开发与行业经验的沉淀，覆盖二十余种主流行业，</p>
            <p>对焦最主流、最热的行业，</p>
            <p>为企业商家打造最符合业务发展需要的APP开发整体解决方案服务</p>
            <p>金融行AP开发、金融理财APP开发解决方案、</p>
            <p>P2P网贷APP开发 P2P网贷APP开发解决方案、</p>
            <p>商城APP行业解决方案</p>
        </div>
        <section class="cover-list">
            <ul class="clearfix">
                <li>
                    <img src="../images/001.png" alt="">
                </li>
                <li>
                    <img src="../images/002.png" alt="">
                </li>
                <li>
                    <img src="../images/003.png" alt="">
                </li>
                <li>
                    <img src="../images/004.png" alt="">
                </li>
                <li>
                    <img src="../images/005.png" alt="">
                </li>
                <li>
                    <img src="../images/006.png" alt="">
                </li>
                <li>
                    <img src="../images/007.png" alt="">
                </li>
                <li>
                    <img src="../images/008.png" alt="">
                </li>
                <li>
                    <img src="../images/009.png" alt="">
                </li>
                <li>
                    <img src="../images/010.png" alt="">
                </li>
                <li>
                    <img src="../images/011.png" alt="">
                </li>
                <li>
                    <img src="../images/012.png" alt="">
                </li>
                <div class="cover-more clearfix">
                    <li>
                        <img src="../images/013.png" alt="">
                    </li>
                    <li>
                        <img src="../images/014.png" alt="">
                    </li>
                    <li>
                        <img src="../images/015.png" alt="">
                    </li>
                    <li>
                        <img src="../images/016.png" alt="">
                    </li>
                    <li>
                        <img src="../images/017.png" alt="">
                    </li>
                    <li>
                        <img src="../images/018.png" alt="">
                    </li>
                    <li>
                        <img src="../images/019.png" alt="">
                    </li>
                    <li>
                        <img src="../images/020.png" alt="">
                    </li>
                    <li>
                        <img src="../images/021.png" alt="">
                    </li>
                    <li>
                        <img src="../images/022.png" alt="">
                    </li>
                    <li>
                        <img src="../images/023.png" alt="">
                    </li>
                    <li>
                        <img src="../images/024.png" alt="">
                    </li>
                    <li>
                        <img src="../images/025.png" alt="">
                    </li>
                    <li>
                        <img src="../images/026.png" alt="">
                    </li>
                    <li>
                        <img src="../images/027.png" alt="">
                    </li>
                    <li>
                        <img src="../images/028.png" alt="">
                    </li>
                    <li>
                        <img src="../images/029.png" alt="">
                    </li>
                    <li>
                        <img src="../images/030.png" alt="">
                    </li>
                    <li>
                        <img src="../images/031.png" alt="">
                    </li>
                </div>
            </ul>
            <section class="cover-more-btn">
                <span>展开更多</span>
            </section>
        </section>
    </section>
</main>
</body>
</html>
<script>
    window.onload = function () {
        $moreBtn = document.getElementsByClassName('more')[0];
        $moreContent = document.getElementsByClassName('more-content')[0];
        $coverMoreBtn = document.getElementsByClassName('cover-more-btn')[0];
        $coverMore = document.getElementsByClassName('cover-more')[0];
        $moreBtn.onclick = function () {
            $moreContent.className = 'more-content show clearfix';
            this.style.display = 'none';
        }
        $coverMoreBtn.onclick = function () {
            $coverMore.className = 'cover-more clearfix show';
            this.style.display = 'none';
        }
    }
</script>